<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DomesticFlightAdd</servlet-name>
        <servlet-class>exoticatravels.DomesticFlightAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomesticFlightView</servlet-name>
        <servlet-class>exoticatravels.DomesticFlightView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomesticCustTourView</servlet-name>
        <servlet-class>exoticatravels.DomesticCustTourView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelAdd</servlet-name>
        <servlet-class>exoticatravels.HotelAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelView</servlet-name>
        <servlet-class>exoticatravels.HotelView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DLocationAdd</servlet-name>
        <servlet-class>exoticatravels.DLocationAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DLocationView</servlet-name>
        <servlet-class>exoticatravels.DLocationView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentProcess</servlet-name>
        <servlet-class>exoticatravels.PaymentProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerView</servlet-name>
        <servlet-class>exoticatravels.CustomerView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>exoticatravels.CancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingConfirm</servlet-name>
        <servlet-class>exoticatravels.CancelBookingConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomesticFlightAdd</servlet-name>
        <url-pattern>/DomesticFlightAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomesticFlightView</servlet-name>
        <url-pattern>/DomesticFlightView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomesticCustTourView</servlet-name>
        <url-pattern>/DomesticCustTourView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelAdd</servlet-name>
        <url-pattern>/HotelAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelView</servlet-name>
        <url-pattern>/HotelView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DLocationAdd</servlet-name>
        <url-pattern>/DLocationAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DLocationView</servlet-name>
        <url-pattern>/DLocationView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentProcess</servlet-name>
        <url-pattern>/PaymentProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerView</servlet-name>
        <url-pattern>/CustomerView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/CancelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingConfirm</servlet-name>
        <url-pattern>/CancelBookingConfirm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
